:root {
    --black: black;
    --white: white;
    --red: red;
    --green: green;
    --blue: blue;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    background-color: var(--black);
    font-family: "Borel", serif;
    font-weight: 400;
    font-style: normal;
    color: var(--white);
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.game {
    display: block;
    width: min(90vmin, 720px);
    aspect-ratio: 1 / 1;
    background-color: var(--black);
    cursor: crosshair;
}